* {
  all: unset;
}

window {
  border: 1px solid #313131;
  border-radius: 10px;
  background: #282828;
  font-size: 16px;
  color: #eeffff;
}

#input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 24px;
  padding: 28px 16px;
}

#input > image.left {
  margin: 0 16px 0 10px;
}

#input > image.right {
  margin: 0 16px 0 10px;
}

#outer-box, #inner-box {
  border-radius: 12px;
}

#inner-box {
  padding: 0 12px;
}

#entry {
  transition: all 100ms linear;
  transition-property: opacity,background-color;
  padding: 8px 10px;
  opacity: 0.6;
  margin-bottom: 4px;
}

#entry:selected {
  background: #2d2d2d;
  border-radius: 8px;
  opacity: 1;
}

#img {
  margin-right: 10px;
}
