// hei: triple 4K monitors
output "DP-3" {
    mode "3840x2160"
    scale 1.5
    position x=0 y=0
}

output "DP-1" {
    mode "3840x2160"
    scale 1.5
    position x=2560 y=0
}

output "DP-2" {
    mode "3840x2160"
    scale 1.5
    position x=5120 y=0
}

workspace "1" {
    open-on-output "DP-3"
}

workspace "4" {
    open-on-output "DP-3"
}

workspace "7" {
    open-on-output "DP-3"
}

workspace "2" {
    open-on-output "DP-1"
}

workspace "5" {
    open-on-output "DP-1"
}

workspace "8" {
    open-on-output "DP-1"
}

workspace "3" {
    open-on-output "DP-2"
}

workspace "6" {
    open-on-output "DP-2"
}

workspace "9" {
    open-on-output "DP-2"
}
