tab {
  font-family: "monospace";
}

tab:selected {
  background-color: #82aaff;
  color: #212121;
}

tabbox {
  background-color: #212121;
}

tabbox > separator {
  opacity: 0;
}

button.tab-close-button {
  opacity: 0;
}
