tabbar tabbox {
  background-color: #212121;
}

tab {
  font-family: "monospace";
}

tab:selected {
  background-color: #82aaff;
  border-color: #82aaff;
  color: #212121;
}

separator {
  background-color: #212121;
  border-color: #212121;
}

button.tab-close-button {
  opacity: 0;
}
