/*
debug: env GTK_DEBUG=interactive ghostty
https://docs.gtk.org/gtk4/css-overview.html
https://docs.gtk.org/gtk4/css-properties.html
*/

separator {
	min-height: 0 !important;
}

tabbar tabbox {
	margin: 0;
	padding: 6px 0;
	min-height: 10px;
	font-family: "IosevkaTerm Nerd Font";
}

tabbar tabbox tab {
	margin: 0;
	padding: 0 8px;
	color: #9ca3af;
}

tabbar tabbox tab:selected {
	background-color: #2d2d2d;
	color: #ffffff;
	font-weight: 600;
}

tabbar tabbox tab label {
	font-size: 13px;
}

revealer.bottom-bar.raised {
	box-shadow: none;
	background-color: #212121;
}

tabboxchild,
tab {
	border-radius: 6px;
}

button.tab-close-button {
	color: #6f6f6f;
}
